<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script src="./login.js"></script> -->
    <style>
        body
        {
            background-image: url("loginphoto.jpg");
            background-color: #cccccc;
            height: 500px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
        }
    </style>

</head>
<body>
    <form action="/user/signup" method="POST">
    <div class="loginphoto">
        <div class="container">
            
               <!--  <div class="col-lg-4 col-l-offset-4" style="margin-top: ;"> -->
                <div class="card col-7 col-lg-4 col-lg-offset-4" style="margin: 13%;">
                    <div class="card-body">
                    <center><h5 class="card-title">Library</h5></center>
                    <a class="card-text"><b>Name:</b></a>
                    <input type="text" class="form-control" id="" name="name" required><br>
                    <a class="card-text"><b>Email:</b></a>
                    <input type="text" class="form-control" id="" name="Email" required><br>
                    <a class="card-text"><b>Roll:</b></a>
                    <select name="Roll" id="" class="form-control" >
                        <option value="">Admin</option>
                        <option value="">User</option>
                    </select><br>
                    <a class="card-text"><b>Username:</b></a>
                    <input type="text" class="form-control" id="" name="uname" required><br>
                    <a class="card-text"><b>Password:</b></a>
                    <input type="password" class="form-control" id="" name="password" required><br>
                    <center>
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </center>           
                    </div>
                <!-- </div> -->
                </div>
            
        </div>       
    </div>

</form>
</body>
</html>